.loadingSceneContainer {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 100;
}

.cursorIcon {
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 20px;
  color: #cccccc;
  opacity: 0;
}

.animationElements {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.characterImage {
  width: 400px;
  max-width: 80%;
  height: auto;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.brandName {
  font-size: 5rem;
  font-weight: 400;
  color: #3D3D3D;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin: 0;
  white-space: nowrap;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
  .characterImage {
    width: 250px;
  }
  .brandName {
    font-size: 3.5rem;
  }
}

