.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--color-navy); */
  color: var(--text-light);
  z-index: 3;
  position: absolute;
    top: 0;
    left: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* flex-wrap: wrap; */
    transform: translateY(100vh);
    z-index: 2;
    font-size: 3rem;
    gap:20px;
    opacity: 0;
}


.textWords{    
    color: var(--text-primary);
    font-family: "Verdana", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;;
    font-weight: bold;
    white-space: nowrap;
}

.logoImageBox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    object-fit: cover;
}


.secondaryTextContainer{
    color: var(--text-primary);
    transform: translateY(100vh);
    width: 70vw;
    font-size: 1.5rem;
    font-family: "Satoshi", sans-serif;
    text-align: left;
    z-index: 2;
}


@media screen and (max-width: 768px) {
    .logoImageBox {
        width: 70px;
        height: 70px;
    }

    .textContainer {
        font-size: 1.8rem;
        top: 55vh;
    }
    .secondaryTextContainer {
        top: 65vh;
        font-size: 1.2rem;
        width: 75vw;
    }
    
}