.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.nextScene {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-navy);
  color: var(--text-light);
  z-index: 3;
}
