.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}


.nextScene {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-navy);
  color: var(--text-light);
  z-index: 3;
}

.sparkie{
  width:100px;
  height: auto;
  position: absolute;
  z-index: 2000;
}
